.heading{
    font-family: 'Ubuntu', sans-serif;
    float: left;
    color: rgb(95, 95, 95);
    margin-top: 8px;
    margin-left: 20px;
    font-weight: 600;
}

/* .surveyList{
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    align-content: space-between;


} */